/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

.container {
	display: flex;
	justify-content: center;
}

.order {
	width: 98%;
	border-radius: 16px;
	overflow: hidden;
	background-color: var(--color-white);
}

.image {
	width: 100%;
}

.button {
	border-radius: 16px;
	border: 1px solid var(--color-stroke);
	background-color: var(--color-primary);
	color: var(--color-white);
	cursor: pointer;
}

.button:hover {
	background-color: var(--color-primary-hover);
}
