/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@import 'styles/normalize.scss';
@import 'styles/root.scss';
@import 'styles/fonts.scss';

body {
	font-family: 'Mon', sans-serif;
	color: var(--color-primary);
	background-color: var(--color-background);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

p {
	color: var(--color-on-surface);
}
