/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
	--color-primary: #680262;
    --color-primary-hover: #
#490245;
	--color-bacground: #cfd1dd;
	--color-title: #151827;
	--color-body: #85859b;
	--color-stroke: #cfd1dd;
	--color-white: #ffffff;
}
